.container{ 
    width: 100%;
}
.container form{ 
    width: 30%;
    border: 1px solid black;
    padding: 20px;
    margin-top: 50px;
    background-color: cornflowerblue;
    color: white;
}

.fieldset legend{ 
    width: 35%;
}