
*{ 
    margin: 0;
    padding: 0;
}
body{ 
    background-color: aliceblue;
}

.header{ 
    padding: 20px;
    background-color: azure;
    height: 60px;
}
.first{ 
    float: left;
    padding-right: 190px;
}
.five{ 
    float: left;
    padding-right: 50px;
    
}
.six{ 
    float: left;
    padding-right: 50px;
}
.seven{ 
    float: left;
    padding-left: 50px;
}


/* second div */
.main{ 
    padding-left: 15px;
    height: 60px;
    display: flex;
    background-color: lightgrey;
    border: 1px solid black;
    text-align: center;
}
.first-div{ 
    float: left;
    padding-right: 50px;
    
}
.second-div{ 
    float: left;
    padding-right: 50px;
}
.third-div{ 
    float: left;
    padding-left: 50px;

}
.four-div{ 
    float: left;
    padding-left: 50px;
}
.five-div{ 
    float: left;
    padding-left: 50px;
}
/* third div */
.main-body{ 
    padding: 20px;
    height: 80px;
    border: 1px solid gray;
    background-color: burlywood;
}
.main-div-first{ 
    float: left;
   
}
.main-div-second{ 
    float: left;
    padding-left: 50px;
}
.main-div-third{ 
    float: left;
    padding-left: 50px;
}
.main-div-four{ 
    float: left;
    padding-left: 50px;
    box-sizing: border-box;
    border: 1px;
}

.footer{ 
    width: 100%;

    
}
.footer-div{ 
    width: 58%;
    height: 300px;
    float: left;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 5px;

    
}
.footer-right-div{ 
    width: 39%;
    height: 200px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid black;

}
