.container-fluid{ 
    width: 100%;
    background-color: powderblue;
}

.navbar{ 
    text-align: right;
    margin-top: 10px;
    ;

}

.navbar a{ 
    text-decoration: none;
    padding: 20px;
   
   
}

.main-body{ 
    text-align: center;
    padding-left: 30px;
    margin-top: 40px;
    
}

.h3 { 
    text-align: right;
    margin-top: 10px;
   
}

